{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}{% trans 'Products' %}{% endif %}
{% endblock %}
{% block content %}

    <div class="container" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2">{{ category.name|title }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div><b>{% trans 'Popular' %}</b> {% trans 'products purchased' %}</div>
        </div>
        <hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="album">
                {% if not page_obj %}
                    <div class="col-12">{% trans 'There are currently no products active' %} <a
                            href="{% url 'catalogue:home' %}">{% trans 'Home' %}</a>
                    </div>
                {% else %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        {% for product in page_obj %}
                            <div class="col">
                                <div class="card border-0">
                                    {% for image in product.media_product_inventory.all %}
                                        {% if image.is_feature %}
                                            <img class="img-fluid" src="{{ image.image.url }}"
                                                 alt="{{ image.alt_text }}">
                                        {% endif %}
                                    {% endfor %}
                                    <div class="card-body px-0">
                                        <p class="card-text">
                                            <a class="text-dark text-decoration-none"
                                               href="{{ product.product.get_absolute_url }}">{{ product.product.name }}</a>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">£{{ product.store_price }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Pager-->
                {% if page_obj.has_previous %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                                                    href="{% url 'catalogue:category' category.slug %}?page={{ page_obj.previous_page_number }}">
                        &rarr;</a></div><br><br><br>
                {% endif %}

                {% if page_obj.has_next %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                                                    href="{% url 'catalogue:category' category.slug %}?page={{ page_obj.next_page_number }}">
                        &larr;</a></div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}