{% extends 'account/sub_base.html' %}

{% block title %}Login Account{% endblock %}
{% block sub_content %}

    <form class="account-form" action="." method="post">
        {% csrf_token %}
        <h3 class="mb-2">Logged in account</h3>

        {% if form.errors %}
            <p>Please correct the following errors:</p>
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ field.label }}: {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <label>{{ form.phone.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted mb-4">
      </span>
        </label>
        {{ form.phone }}<br><br>
        <label>{{ form.password.label }}<span class="text-muted mb-4">
    </span></label>
        {{ form.password }}

        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Login</button>
        <p class="text-center">
            <a href="{% url 'account:register' %}">Register an account?</a>
        </p>
    </form>

{% endblock %}