{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Payment Selection' %}{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-12">
            <h1 class="h2">{% trans 'Delivery Options' %}</h1>
        </div>
        <div class="col-12">
            <p>{% trans 'Please select your delivery option' %}</p>
        </div>
        <hr/>
    </div>

    <div class="container">
        <div class="row g-3">
            <div class="col-md-4 col-lg-4 order-md-last p-0 order-3">
                <div class="d-flex bd-highlight ms-0">
                    <div class="p-2 flex-grow-1 bd-highlight">{% trans 'Sub Total:' %}</div>
                    <div class="p-2 bd-highlight"><span class="fw-bold h5">T </span><span id="sub_total"
                                                                                          class="fw-bold h5">{{ basket.get_subtotal_price }}</span>
                    </div>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">{% trans 'Delivery Cost:' %}</div>
                    <div class="p-2 bd-highlight"><span class="fw-bold h5">T </span><span id="delivery_price"
                                                                                          class="fw-bold h5">{{ basket.get_delivery_price }}</span>
                    </div>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">{% trans 'Total:' %}</div>
                    <div class="p-2 bd-highlight"><span class="fw-bold h5">T </span><span id="total"
                                                                                          class="fw-bold h5">{{ total_paid }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 pe-0 pe-md-5">
                <a href="#" class="btn btn-primary">{% trans 'Pay' %}</a>
                <hr>
                <br><br>
                <form action="{% url 'orders:apply_coupon' order.pk %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Apply">
                </form>
                <br>
                <a href="{% url 'orders:delete_coupon' order.pk %}"><input type="submit" value="delete coupon"
                                                                           class="btn btn-danger"></a>

            </div>
        </div>
    </div>
{% endblock %}